@font-face {
    font-family: 'tenorsans';
    src: url('../webfonts/TenorSans-Regular.ttf'),
}

@font-face {
    font-family: 'futurabook';
    src: url('../webfonts/futurabookc.ttf'),
}

body {
    font-family: 'futurabook', sans-serif;
    font-size: 18px;
    color: #2F4558;
}

a {
    color: #2F4558;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #2F4558;
    color: #2F4558;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'tenorsans', sans-serif;
    font-weight: bold;
}

.logo-block img {
    width: 102px;
}

.logo-block a:hover {
    border-bottom: 1px solid transparent;
}

.main-page-title-red {
    color: #ff0000;
}

.location-item i {
    margin-right: 10px;
    width: 15px;
    color: #ff0000;
}

.owl-feedback-form input,
.owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}

button.btn-close {
    font-size: 14px;
    z-index: 1;
    right: 15px;
    top: 7px;
    position: absolute;
}

.registration__agree a {
    border-bottom: 1px solid #2F4558;
}

.registration__agree {
    font-size: 14px;
}

.header-contacts-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 25px;
    position: relative;
}

.header-contacts-row a {
    color: #fff;
}

.header-contacts-row a:hover {
    border-color: #fff;
}

.header-block-page {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    background-position: center;
}

.header-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-page {
    position: relative;
}

.header-time {
    display: flex;
    align-items: center;
}

.header-chedule span,
.header-phones a,
.header-adress span {
    display: block;
}

.header-logo img {
    width: 190px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #fff;
}

.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chevron-background {
    font-size: 55px;
    color: #fff;
}

.icon-header-time i {
    font-size: 32px;
    margin-right: 10px;
}

.categories-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.categories-item {
    width: 32%;
    margin-bottom: 40px;
}

.categories-item img {
    width: 100%;

}

.categories-item-name {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.main-title {
    margin: 60px 0;
    text-align: center;
}

.footer-page {
    background-color: #000;
    padding: 40px 0;
}

.footer-flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}

.footer-flex-block a {
    color: #fff;
    display: block;
}

.footer-info {
    text-align: center;
    width: 557px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-politics,
.footer-copyright {
    color: #fff;
    text-align: center;
}

.footer-politics a,
.footer-copyright a {
    color: #fff;
}

.footer-copyright {
    font-size: 12px;
}

.footer-links a {
    display: block;
}

.footer-links a:hover,
.footer-address-item a:hover {
    border-color: #fff;
}

.social-block {
    display: flex;
    justify-content: flex-end;
}

.social-block a:hover {
    border-color: #fff;
}

.social-block i {
    font-size: 20px;
    margin-left: 10px;
}

.footer-address {
    text-align: right;
}

#button-up {
    display: none;
    right: 30px;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    color: #3f4049;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
}

#button-up::before {
    font-family: FontAwesome;
    content: "\f062";
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 10.79px;
    font-size: 22px;
}

.footer-contacts-item a:hover,
.footer-menu a:hover,
.footer-copyright a:hover {
    border-color: #fff;
}

.footer-btn button:hover {
    color: #fff;
}

.footer-politics a:hover {
    border-color: #fff;
}

.basket-block {
    text-align: center;
}

.basket-icon {
    position: relative;
}

.basket-icon i {
    font-size: 32px;
}

.header-cart-number {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #2F4558;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}

.about-us-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}

.about-us-main-img img {
    width: 100%;
}

.about-us-main-img,
.about-us-main-text {
    width: 47%;
}

.about-us-main-text h4 {
    margin-bottom: 30px;
}

.contact-block {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 15px;
    background-color: rgb(100%, 100%, 100%, 0.8);
}

.map-block {
    position: relative;
    margin-bottom: 60px;
}

.page-btn {
    background-color: transparent;
    color: #2F4558;
    border: 2px solid #2F4558;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 22px;
}

.page-btn:hover {
    background-color: #2F4558;
    color: #fff;
}

.owl-item-block {
    position: relative;
}

.banner-quote-block {
    position: absolute;
    top: 70px;
    right: 180px;
    width: 506px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.location-item {
    margin-bottom: 20px;
    width: 32%;
}

.phones-main-flex {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.location-main-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.percent-block {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.percent-block i {
    margin-right: 20px;
    font-size: 70px;
}

.percent-block span {
    font-size: 28px;
}

.main-photo-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


.btn-main-item {
    color: #40281b;
    border: 2px solid #40281b;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 30px;
    background-color: transparent;
}

.btn-main-item:hover {
    background-color: #40281b;
    border: 2px solid #40281b;
    color: #fff;
}

.text-center {
    margin-bottom: 60px;
}

.cookie {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 20px 0;
    display: none;
}

.cookie__text {
    color: #fff;
}

.cookie.is-active {
    display: block;
}

.btn-main-white {
    color: #fff;
    border-color: #fff;
    margin-top: 10px;
}

.btn-main-white:hover {
    background-color: #fff;
    color: #000;
}

.text-center-small {
    margin-bottom: 0;
}

.footer-copyright span {
    display: block;
}

.categories-item-price {
    text-align: right;
    font-weight: bold;
}

.price-btn-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price-btn-flex .btn-main-item {
    display: inline-block;
    margin-top: 10px;
}

.categories-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        justify-content: space-around;
        width: 100%;
    }

    .header-time-mobile {
        display: none;
    }
}

@media(max-width:1199px) {
    .footer-info {
        width: 450px;
    }

    .header-logo img {
        width: 160px;
    }

    .header-adress {
        width: 238px;
    }

    .header-time {
        display: none;
    }

    .header-time-mobile {
        display: flex;
        align-items: center;
    }

    .header-time-mobile i {
        font-size: 18px;
    }

    .contact-block {
        left: 40px;
    }
}

@media(max-width: 991px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-weight: bold;
        font-size: 16px;
    }

    .header-contacts-row {
        flex-wrap: wrap;
    }

    .basket-block {
        margin-left: auto;
    }

    .about-us-main {
        flex-direction: column-reverse;
    }

    .about-us-main-img,
    .about-us-main-text {
        width: 100%;
    }

    .location-main-flex {
        flex-wrap: wrap;
    }

    .location-item {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px) {
    .header-logo {
        margin-bottom: 20px;
    }

    .navbar-expand-md {
        justify-content: end;
        flex-direction: column-reverse;
        align-items: end;
    }

    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 70px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
        z-index: 11;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #2F4558;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        display: block;
        background-color: #2F4558;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .navbar-toggler-icon::before {
        content: "";
        margin-top: -8px;
    }

    .navbar-toggler-icon::after {
        content: "";
        margin-top: 8px;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .navbar-toggler {
        padding: 5px;
        width: 44px;
        height: 44px;
    }

    .navbar-dark .navbar-toggler {
        border: 2px solid #fff;
    }

    .categories-item {
        width: 48%;
    }


    .contact-block {
        position: inherit;
        left: 0;
        margin-bottom: 40px;
    }

    .map-block {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-address {
        width: 100%;
    }

    .footer-flex-block img {
        margin-right: 20px;
    }

    .banner-quote-block {
        top: 20px;
        right: 80px;
        width: 200px;
        font-size: 12px;
    }

    .percent-block span {
        font-size: 18px;
    }

    .mobile-adress-none {
        display: none;
    }
}

@media (max-width: 500px) {
    .banner-quote-block {
        display: none;
    }
}